body {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
    text-align: center;
}

button {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.backButton {
    float: left;
    /* width: 6em;
    height: 3em; */
    font-size: 12pt;
    padding: 0.4em;
}

#root {
    margin: 20px;
}

.mainMenu {
    clear: both;
    padding: 50px;
    /* border: 1px solid blue; */
}

button.playMines {
    margin: 2em;
    padding: 10px;
    font-size: 2em;
}

button.shop {
    padding: 5px;
    font-size: 1.5em;
}

.metaInfo {
    clear: both;
}

#newGameOpt {
    /* border: 1px solid blue; */
    display:inline-block;
    padding: 30px;
}
#newGameOpt button {
    display:inline-block;
    font-size: 14pt;
    margin: 30px;
}
.gamePresets {
    text-align: left;
}
#controlPanel {
    float:center;
}
.debugMenu {
    cursor: pointer;
    text-align: left;
    display: block;
    float: left;
    position: sticky;
    top: 10px;
    left: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.debugMenu button {
    float: left;
    clear: both;
    width: 8em;
}

.version {
    position: relative;
    top: -20px;
    font-size: 80%;
}
.smallVersion {
    position: absolute;
    top: 0px;
    right: 5px;
    align-content: right;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8pt;
}