
.square-mode-flag {
     cursor:crosshair; 
    /* cursor: url('img/minefield.png'), auto; */
}
.square-mode-inspect {
     cursor:pointer; 
    /* cursor: url('img/magnifying-glass.png'), auto; */
}
.square-mode-over {
    cursor: default;
}

.square {
    border: 1px solid lightgray;
    text-align: center;
    padding: 0;
    line-height: 30px;
    float: left;
    width: 30px;
    height: 30px;
    font-size: 26px;
    background-color: white;
    transition: all 0.1s ease-out;
}
.square:focus {
    outline: none;
}
.square:hover {
    background-color: #EEAA00;
    transition: all 0.1s ease-out;
}
.square-unseen-flagging:hover {
    background-image: url('img/minefield.svg');    
    background-blend-mode: color-burn;
}
.square-unseen:hover {
     background-image: url('img/magnifying-glass.svg');     
    /* background-blend-mode: color-burn; */
}
.square-flag {
    background-image: url('img/minefield.svg');
}
.square:active {
    border-color: #eea;
    transition: all 0.5s ease-out;
}
.square-okay {
    color: green;
}
.square-resolved {
    color: lightgrey;
}
.square-surrounded {
    color: red;    
}
.square-unseen-flagging:active,.square-unseen:active {
    background-color: darkgray;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.square-unseen-flagging,.square-unseen {
    background-color: lightgray;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.square-mine {
    background-color: red;
    background-image: url('img/mine-explosion.svg');
}
.square-mine:hover {
    background-color: red;
}
.board-row::after {
    clear:both;
    content: "";
    display: table;
}
.board {
    border: 5px solid black;
    padding: 0px;
    margin: 0px;
    display:inline-block;
}
.status {
    display: block;
    font-size: 15pt;
}

.scoreTally td {
    margin: 0px;
    padding: 8px;
    border: 1px solid darkgray;
    opacity: 1;
}

div.scoreTally {
    -webkit-transition: max-height 2s ease;
    -moz-transition: max-height 2s ease;
    transition: max-height 2s ease;
    max-height: 300px;
    overflow: hidden;
    animation-delay: 5s;
    /* z-index: 2; */
    /* position: absolute; */
    background-color: white;
    /* opacity: 0.9; */
    left: 10%;
    right: 10%;
}

table.scoreTally {
    opacity: 1;
    color: black;
    text-align: center;
    /* display: inline-block; */
    overflow: hidden;
    border: 2px solid white;
}
 .scoreTallyClaim button {
    width: 20em;
    font-size: 10pt;
    height: 2em;
    /* background-color: lightgreen; */
}
.scoreTallyClaim button:hover {
    background-color: lightyellow; 
} 
.scoreTallyNames {
    text-align: right;
}
.scoreTallyClaim  {
    background-color: lightgreen;    
}
.scoreTallyTotal  {
    border-top: 1px solid black;
    color: black;
    text-transform: uppercase;
    background-color: lightgrey;
}